# Option 1: Heroes of Pymoli

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load, encoding="utf-8")

In [3]:
# PART 1 -  Player Count
# Display the total number of players

In [4]:
#count total # of players
NumberOfPlayers = df["SN"].nunique()
print("Number of Players: " + str(NumberOfPlayers))

#NOTE - I did not see that there was a HeroesOfPymoli_starter.ipynb at this point so my print results are different than the example, but correct

Number of Players: 576

In [5]:
# # PART 2 - Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [6]:
# Run basic calculations to obtain number of unique items, average price, etc.

#count number of unique items
UniqueItems = df["Item Name"].nunique()
print("Number of Unique Items: " + str(UniqueItems))

#calculate avg purchase price
AvgPurPrice = df["Price"].sum() / len(df)
#format to dollars
AvgPurPrice = '$%.2f' % AvgPurPrice
print("Average Purchase Price: " + str(AvgPurPrice))

#calculate total # of purchases
TotalPurchases = len(df["Purchase ID"])
print("Total Number of Purchases: " + str(TotalPurchases))

#calculate total revenue
TotalRevenue = df["Price"].sum() 
#format to dollars
TotalRevenue = '$%.2f' % TotalRevenue
print("Total Revenue: " + str(TotalRevenue))

#NOTE - I did not see that there was a HeroesOfPymoli_starter.ipynb at this point so my print results are different than the example, but correct

Number of Unique Items: 179
Average Purchase Price: $3.05
Total Number of Purchases: 780
Total Revenue: $2379.77

In [7]:
# PART 3 - Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [8]:
#create df that pulls out all duplicate SN's 
uniqueSN_df = df.drop_duplicates(subset='SN')

#group results by gender
grouped_uq_gender_df = uniqueSN_df.groupby(['Gender'])

#use above df to count results of each column that we will use to determine below calculations
total_uq_count_df = grouped_uq_gender_df.count()

#count of total players
NumberOfPlayers
# Percentage and Count of Male Players
MaleTotalPlayers = total_uq_count_df.loc["Male","SN"]
MalePercentPlayers = MaleTotalPlayers / NumberOfPlayers 
MalePercentPlayers = "{:.2%}".format(MalePercentPlayers)

# Percentage and Count of Female Players
FemaleTotalPlayers = total_uq_count_df.loc["Female","SN"]
FemalePercentPlayers = FemaleTotalPlayers / NumberOfPlayers 
FemalePercentPlayers = "{:.2%}".format(FemalePercentPlayers)

# Percentage and Count of Other / Non-Disclosed
OtherTotalPlayers = total_uq_count_df.loc["Other / Non-Disclosed","SN"]
OtherPercentPlayers = OtherTotalPlayers / NumberOfPlayers 
OtherPercentPlayers = "{:.2%}".format(OtherPercentPlayers)

#make df to house results
gender_dicts = [{"Gender": "Male", "Total Players": MaleTotalPlayers, "Percent of Players": MalePercentPlayers},
                {"Gender": "Female", "Total Players": FemaleTotalPlayers, "Percent of Players": FemalePercentPlayers},
               {"Gender": "Other", "Total Players": OtherTotalPlayers, "Percent of Players": OtherPercentPlayers},
               {"Gender": "Total", "Total Players": NumberOfPlayers, "Percent of Players": "100.00%"}]

#put the above dictionary into a dataframe
gender_df = pd.DataFrame(gender_dicts)

#display df
gender_df

#NOTE - I did not see that there was a HeroesOfPymoli_starter.ipynb at this point so I included a "Total" row as well

   Gender  Total Players Percent of Players
0    Male            484             84.03%
1  Female             81             14.06%
2   Other             11              1.91%
3   Total            576            100.00%

In [9]:
# PART 4 - Purchasing Analysis (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [10]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#Create DF grouped by Gender
grouped_gender_df = df.groupby(['Gender'])

#Use groupby Gender df to Count # of Unique SN's
gender_uq_count = grouped_gender_df['SN'].nunique()

#Use groupby Gender df to Count purchases 
gender_purchase_count_df = grouped_gender_df["Purchase ID"].count()

#Use groupby Gender df to determine Avg Purchase Price 
avg_gender_price_df = round(grouped_gender_df["Price"].mean(), 2)

#Use groupby Gender df to determine Total Spent 
gender_price_sum_df = round(grouped_gender_df["Price"].sum(), 2)

#Take total spent per gender and divide by # of unique users per gender to determine Avg Purchase Purchase per Person 
gender_purchase_df = round(gender_price_sum_df / gender_uq_count, 2)

# Create a summary data frame to hold the results
gender_summary = pd.DataFrame({'Purchase Count': gender_purchase_count_df,
                              'Average Purchase Price': avg_gender_price_df,
                              'Total Purchase Value': gender_price_sum_df,
                              'Avg Total Purchase per Person': gender_purchase_df})

# Optional: give the displayed data cleaner formatting
#format columns to dollars. Map. is used for a series/column of numbers
gender_summary['Average Purchase Price'] = gender_summary['Average Purchase Price'].map("${:,.2f}".format)
gender_summary['Total Purchase Value'] = gender_summary['Total Purchase Value'].map("${:,.2f}".format)
gender_summary['Avg Total Purchase per Person'] = gender_summary['Avg Total Purchase per Person'].map("${:,.2f}".format)

# Display the summary data frame
gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [11]:
# PART 5 - Age Demographics
# Establish bins for ages
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

In [21]:
# Referenced classmate, Noni Bell's, work and worked through with instructor Will Wright.  

#find max age to use as max limiter in bin
MaxAge = df['Age'].max()

# Categorize the existing players using the age bins. Hint: use pd.cut()

#create bins and labels that will catagorize each age group.  this will then become a column in the original df
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, MaxAge]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#adding a column called "Ages" using bins/labels above, to the original "df" dataframe
df['Ages'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels)
#df #view df

#use this new column to group by each Age group
age_groupby = df.groupby(['Ages'])
#age_groupby.first() #view df

#now that we have the values for each column isolated to the "ages" group sets, we need to determine the number of screen names that arent duplicates in each age group
age_count_unique = age_groupby['SN'].nunique()

# Calculate the numbers and percentages by age group (be sure to use unique SN)

#take the unique number of SN's (users) in each age group and divide by total # of unique SN's (users) in the total dataset
age_percent = round(age_count_unique / NumberOfPlayers * 100, 2)

# Create a summary data frame to hold the results
# use pd.dataframe to create df to display total count & percent of players. pandas recognizes each series is the same length and will display in new columns below
age_grouping = pd.DataFrame({'Total Count': age_count_unique,
                            'Percentage of Players': age_percent})

# Optional: round the percentage column to two decimal points

#format players percent column to % again using ".map{}.format" 
age_grouping['Percentage of Players'] = age_grouping['Percentage of Players'].map("{:.2f}%".format)

#the hw example does not have a title for the age index so need to remove 
age_grouping.index.name = None

# Display Age Demographics Table
age_grouping

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [13]:
# PART 6 - Purchasing Analysis (Age)
# Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

In [14]:
# Referenced classmate, Noni Bell's, work and worked through with instructor Will Wright

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

#isolate the purchase id column in the df grouped by age in order to count the total per age group
age_purchases = age_groupby['Purchase ID'].count()

#determine the avg purchase price for each age group using the df grouped by age and store into new df
age_price = round(age_groupby['Price'].mean(), 2)

#determine the total purchase value for each age group using the df grouped by age and store into new df
age_t_purchase_value = age_groupby['Price'].sum()

#deterimine the avg total price per person using total purchase value per age (above) / unique count of screen names per age bins
age_avg_purchase = round(age_t_purchase_value / age_count_unique, 2)

# Create a summary data frame to hold the results from each series
age_summary = pd.DataFrame({'Purchase Count': age_purchases,
                            'Average Purchase Price': age_price,
                            'Total Purchase Value': age_t_purchase_value,
                            'Avg Total Purchase per Person': age_avg_purchase})

#format purchases price, purchase value, avg purchase columns
age_summary['Average Purchase Price'] = age_summary['Average Purchase Price'].map("${:,.2f}".format)
age_summary['Total Purchase Value'] = age_summary['Total Purchase Value'].map("${:,.2f}".format)
age_summary['Avg Total Purchase per Person'] = age_summary['Avg Total Purchase per Person'].map("${:,.2f}".format)

# Optional: give the displayed data cleaner formatting
#need to add name index as "Age Ranges" to index per hw example
age_summary.index.name = 'Age Ranges'

# Display the summary data frame
age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [15]:
# PART 7 - Top Spenders
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [16]:
# Referenced classmate, Noni Bell's, work and worked through with instructor Will Wright

#group original df by usernames so that we can determine count, mean, and sum for each unique user ('SN') group 
user_df = df.groupby(['SN'])

# Run basic calculations to obtain the results in the table below

#find the purchase count using df we created for each unique user
purchasecount = user_df['Purchase ID'].count()

#find the average purchase price using df we created for each unique user
avgpprice = round(user_df["Price"].mean(), 2)

#find the sum of all a user's purchases using df we created for each unique user
tuserpurchases = round(user_df["Price"].sum(), 2)

# Create a summary data frame to hold the series/results from each calculation above
topspenders = pd.DataFrame({'Purchase Count': purchasecount,
                           'Average Purchase Price': avgpprice,
                           'Total Purchase Value': tuserpurchases})

# Sort the total purchase value column in descending order
topspenders = topspenders.sort_values('Total Purchase Value', ascending=False)

# Optional: give the displayed data cleaner formatting
#format avg purchase prie and total purchase value columns to $'s
topspenders['Average Purchase Price'] = topspenders['Average Purchase Price'].map("${:,.2f}".format)
topspenders['Total Purchase Value'] = topspenders['Total Purchase Value'].map("${:,.2f}".format)

# Display a preview of the summary data frame per HW example
topspenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [17]:
# PART 8 - Most Popular Items
# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [26]:
# Referenced classmate, Noni Bell's, work and worked through with instructor Will Wright

# Retrieve the Item ID, Item Name, and Item Price columns from original DF
sorted_df = df[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name. 
pop_sorted_df = sorted_df.groupby(['Item ID', 'Item Name'])

#Perform calculations to obtain purchase count, average item price, and total purchase value

#find purchase count of each item. 
purchasecount = pop_sorted_df['Item ID'].count()

#find total purchase value. total sums of the price (grouped by Item ID & Item Name)
tpurchasevalue = pop_sorted_df['Price'].sum()

#find item's average price by taking the total sums of each item from above / total count of each item, per Item Name/Item ID
avgprice = tpurchasevalue / purchasecount

# Create a summary data frame to hold the results
popular_df = pd.DataFrame({'Purchase Count': purchasecount,
                             'Item Price': avgprice,
                             'Total Purchase Value': tpurchasevalue})

# Sort the purchase count column in descending order
popular_df2 = popular_df.sort_values('Purchase Count', ascending=False)

# Optional: give the displayed data cleaner formatting
popular_df2['Item Price'] = popular_df2['Item Price'].map("${:,.2f}".format)
popular_df2['Total Purchase Value'] = popular_df2['Total Purchase Value'].map("${:,.2f}".format)

# Display a preview of the summary data frame similar to HW example
popular_df2.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [19]:
# PART 9 - Most Profitable Items
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame

In [27]:
# Sort the above table by total purchase value in descending order
expitems = popular_df.sort_values('Total Purchase Value', ascending=False)

# Optional: give the displayed data cleaner formatting
#format Item Price & Total Purchase Value Columns with $'s 
expitems['Item Price'] = expitems['Item Price'].map("${:,.2f}".format)
expitems['Total Purchase Value'] = expitems['Total Purchase Value'].map("${:,.2f}".format)

# Display a preview of the data frame
expitems.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80