In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load, encoding="utf-8")

# Option 1: Heroes of Pymoli

# Number of Players
# * Total Number of Players

In [57]:
NumberOfPlayers = df["SN"].nunique()
print("Number of Players: " + str(NumberOfPlayers))

Number of Players: 576

# Purchasing Analysis (Total)
# * Number of Unique Items
# * Average Purchase Price
# * Total Number of Purchases
# * Total Revenue

In [58]:
UniqueItems = df["Item Name"].nunique()
print("Number of Unique Items: " + str(UniqueItems))

AvgPurPrice = df["Price"].sum() / len(df)
print("Average Purchase Price: " + str(AvgPurPrice))

TotalPurchases = len(df["Purchase ID"])
print("Total Number of Purchases: " + str(TotalPurchases))

TotalRevenue = df["Price"].sum() 
print("Total Revenue: " + str(TotalRevenue))

Number of Unique Items: 179
Average Purchase Price: 3.0509871794871795
Total Number of Purchases: 780
Total Revenue: 2379.77

# Gender Demographics
# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed

In [ ]:
df.loc[:, ['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']].head()

In [ ]:
#everything below here was built before I figured out there are double SN's.  Needed to filter these out

In [60]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [74]:
grouped_gender_df = df.groupby(['Gender'])
print(grouped_gender_df)
grouped_gender_df2 = grouped_gender_df.count().head(10)
grouped_gender_df2

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000148D7376400>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [75]:
#make percentage & remove verticle index?

TotalPlayers = grouped_gender_df2.loc[:,"SN"].sum()
MaleTotalPlayers = grouped_gender_df2.loc["Male","SN"]
FemaleTotalPlayers = grouped_gender_df2.loc["Female","SN"]
OtherTotalPlayers = grouped_gender_df2.loc["Other / Non-Disclosed","SN"]
MalePercentPlayers = MaleTotalPlayers / TotalPlayers * 100
FemalePercentPlayers = FemaleTotalPlayers / TotalPlayers * 100
OtherPercentPlayers = OtherTotalPlayers / TotalPlayers * 100

gender_dicts = [{"Gender": "Male", "Total Players": MaleTotalPlayers, "Percent of Players": MalePercentPlayers},
                {"Gender": "Female", "Total Players": FemaleTotalPlayers, "Percent of Players": FemalePercentPlayers},
               {"Gender": "Other", "Total Players": OtherTotalPlayers, "Percent of Players": OtherPercentPlayers},
               {"Gender": "Total", "Total Players": TotalPlayers, "Percent of Players": "100%"}]

gender_df = pd.DataFrame(gender_dicts)
gender_df

   Gender  Total Players Percent of Players
0    Male            652            83.5897
1  Female            113            14.4872
2   Other             15            1.92308
3   Total            780               100%

# Purchasing Analysis (Gender)
# * The below each broken by gender
# * Purchase Count
# * Average Purchase Price

In [45]:
# grouped_gender_price_sum_df = grouped_gender_df["Price"].sum()
# grouped_gender_purchase_count_df = grouped_gender_df["Purchase ID"].count()
# grouped_gender_price_sum_df.head()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [46]:
# grouped_gender_purchase_count_df.head()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [ ]:
# AvgPurPrice = Average Purchase Price Per Player
# MaleAvgPurchases = MaleTotalPlayers / grouped_gender_purchase_count_df * 100

# MaleAvgPurPrices = grouped_gender_price_sum_df.iloc[1,0]
# FemaleAvgPurPrices = grouped_gender_price_sum_df.iloc[0,0]
# OtherAvgPurPrices = grouped_gender_price_sum_df.iloc[2,0]
# MalePercentPlayers = MaleTotalPlayers / TotalPlayers * 100
# FemalePercentPlayers = FemaleTotalPlayers / TotalPlayers * 100
# OtherPercentPlayers = OtherTotalPlayers / TotalPlayers * 100

# gender_dicts = [{"Gender": "Male", "Total Players": MaleTotalPlayers, "Percent of Players": MalePercentPlayers, "Purchase Count": MaleAvgPurPrices},
#                 {"Gender": "Female", "Total Players": FemaleTotalPlayers, "Percent of Players": FemalePercentPlayers},
#                {"Gender": "Other", "Total Players": OtherTotalPlayers, "Percent of Players": OtherPercentPlayers},
#                {"Gender": "Total", "Total Players": TotalPlayers, "Percent of Players": "100%"}]

# gender_df = pd.DataFrame(gender_dicts)
# gender_df

# Total Purchase Value
# * Average Purchase Total per Person by Gender
# * Age Demographics
# * The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

# Top Spenders
# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

# Most Popular Items
# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

# Most Profitable Items
# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value