In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load, encoding="utf-8")

# Option 1: Heroes of Pymoli

# Number of Players
# * Total Number of Players

In [15]:
NumberOfPlayers = df["SN"].nunique()
print("Number of Players: " + str(NumberOfPlayers))

Number of Players: 576

# Purchasing Analysis (Total)
# * Number of Unique Items
# * Average Purchase Price
# * Total Number of Purchases
# * Total Revenue

In [16]:
UniqueItems = df["Item Name"].nunique()
print("Number of Unique Items: " + str(UniqueItems))

AvgPurPrice = df["Price"].sum() / len(df)
AvgPurPrice = '$%.2f' % AvgPurPrice
print("Average Purchase Price: " + str(AvgPurPrice))

TotalPurchases = len(df["Purchase ID"])
print("Total Number of Purchases: " + str(TotalPurchases))

TotalRevenue = df["Price"].sum() 
TotalRevenue = '$%.2f' % TotalRevenue
print("Total Revenue: " + str(TotalRevenue))

Number of Unique Items: 179
Average Purchase Price: $3.05
Total Number of Purchases: 780
Total Revenue: $2379.77

# Gender Demographics
# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed

In [6]:
#everything below here was built before I figured out there are double SN's.  Needed to filter these out

In [47]:
uniqueSN_df = df.drop_duplicates(subset='SN')
uniqueSN_df

grouped_uq_gender_df = uniqueSN_df.groupby(['Gender'])
print(grouped_uq_gender_df)
total_uq_count_df = grouped_uq_gender_df.count()
total_uq_count_df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000018B4A0F9B80>

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11

In [57]:
NumberOfPlayers
MaleTotalPlayers = total_uq_count_df.loc["Male","SN"]
FemaleTotalPlayers = total_uq_count_df.loc["Female","SN"]
OtherTotalPlayers = total_uq_count_df.loc["Other / Non-Disclosed","SN"]
MalePercentPlayers = MaleTotalPlayers / NumberOfPlayers 
MalePercentPlayers = "{:.2%}".format(MalePercentPlayers)
FemalePercentPlayers = FemaleTotalPlayers / NumberOfPlayers 
FemalePercentPlayers = "{:.2%}".format(FemalePercentPlayers)
OtherPercentPlayers = OtherTotalPlayers / NumberOfPlayers 
OtherPercentPlayers = "{:.2%}".format(OtherPercentPlayers)

gender_dicts = [{"Gender": "Male", "Total Players": MaleTotalPlayers, "Percent of Players": MalePercentPlayers},
                {"Gender": "Female", "Total Players": FemaleTotalPlayers, "Percent of Players": FemalePercentPlayers},
               {"Gender": "Other", "Total Players": OtherTotalPlayers, "Percent of Players": OtherPercentPlayers},
               {"Gender": "Total", "Total Players": NumberOfPlayers, "Percent of Players": "100.00%"}]

gender_df = pd.DataFrame(gender_dicts)
gender_df

   Gender  Total Players Percent of Players
0    Male            484             84.03%
1  Female             81             14.06%
2   Other             11              1.91%
3   Total            576            100.00%

# Purchasing Analysis (Gender)
# * The below each broken by gender
# * Purchase Count
# * Average Purchase Price

In [119]:
#Create DF specific to Gender ONLY
grouped_gender_df = df.groupby(['Gender'])

#Create DF that Counts # of Unique SN's in Gender Index
gender_uq_count = grouped_gender_df.SN.nunique()
gender_uq_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [115]:
#Purchase Count per Gender
gender_purchase_count_df = grouped_gender_df["Purchase ID"].count()
gender_purchase_count_df

#Avg Purchase Price per Gender
avg_gender_price_df = round(grouped_gender_df["Price"].mean(), 2)
avg_gender_price_df

#Total Spent per Gender
gender_price_sum_df = round(grouped_gender_df["Price"].sum(), 2)
gender_price_sum_df

#Avg Purchase Purchase per Person 
gender_purchase_df = round(gender_price_sum_df / gender_uq_count, 2)
gender_purchase_df

gender_summary = pd.DataFrame({'Purchase Count': gender_purchase_count_df,
                              'Average Purchase Price': avg_gender_price_df,
                              'Total Purchase Value': gender_price_sum_df,
                              'Avg Total Purchase per Person': gender_purchase_df})
#format money columns
gender_summary['Average Purchase Price'] = gender_summary['Average Purchase Price'].map("${:,.2f}".format)
gender_summary['Total Purchase Value'] = gender_summary['Total Purchase Value'].map("${:,.2f}".format)
gender_summary['Avg Total Purchase per Person'] = gender_summary['Avg Total Purchase per Person'].map("${:,.2f}".format)
#display dataframe
gender_summary

# Total Purchase Value
# * Average Purchase Total per Person by Gender
# * Age Demographics
# * The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

# Top Spenders
# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

# Most Popular Items
# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

# Most Profitable Items
# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value